
{{set . "title" "Home"}}
{{template "header.html" .}}


<script>
	$( document ).ready(function() {
		$('#spiderdata').dataTable( {
            "scrollX": true
    	} );
	});
</script>
<br /><br />



<div class="container">
  <div class="row">
   
<ul class="nav nav-pills">
  <li class="active"><a href="/view">All</a></li>
  <li><a href="/view/internal">Internal URLs</a></li>
  <li><a href="/view/external">External URLs</a></li>
</ul>

    <table id="spiderdata" class="table">
    	<thead>
                        <tr>
                            <th>URL</th>
                            <th>Status Code</th>
                            <th>Content Length</th>
                        </tr>
        </thead>
    	{{range .container}}

		<tr>
		<td>{{.URL}}</td>
		<td>{{.StatusCode}}</td>
		<td>{{.ContentLength}}</td>
		</tr>
		{{end}}
    </table>

  </div>
</div>

{{template "footer.html" .}}



