
{{set . "title" "Home"}}
{{template "header.html" .}}


<script>
	$( document ).ready(function() {

		var table = $('#spiderdata').dataTable( {
            "scrollX": true
    	} );

     $('#spiderdata tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');

        }
        else {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            var img_url = $(this).find('td')[0].innerText;
            $.get( "/page_details?url=" + encodeURIComponent(img_url), function( data ) {
              $( ".details" ).html( data );
              $("#pagedetails").dataTable( {
                "scrollX": true
              });
           });
        }
    } );


	});
</script>
<br /><br />



<div class="container">
  <div class="row">
   
<ul class="nav nav-pills">
  <li><a href="/summary">Summary</a></li>
  <li {{if eq .PageName "all"}}class="active"{{end}}><a href="/view">All</a></li>
  <li {{if eq .PageName "internal"}}class="active"{{end}}><a  href="/view/internal">Internal URLs</a></li>
  <li {{if eq .PageName "external"}}class="active"{{end}}><a  href="/view/external">External URLs</a></li>
  <li><a href="/view/images">Images</a></li>
</ul>

    <table id="spiderdata" class="table">
    	<thead>
                        <tr>
                            <th>URL</th>
                            <th>Status Code</th>
                            <th>Content Length</th>
                            <th># of Linking Pages</th>
                            <th>Meta Description</th>
                            <th>Meta Robots</th>
                            <th>Content Type</th>
                            
                        </tr>
        </thead>
    	{{range .container}}

		<tr>
		<td><a href="{{.URL}}">{{.URL}}</a></td>
		<td>{{.StatusCode}}</td>
		<td>{{.ContentLength}}</td>
    <td>{{.NumLinks}}</td>
		<td>{{.MetaDesc}}</td>
		<td>{{.MetaRobots}}</td>
		<td>{{.ContentType}}</td>
		</tr>
		{{end}}
    </table>

  </div>

  <div class="details">
  </div>
</div>



{{template "footer.html" .}}



