
{{set . "title" "Home"}}
{{template "header.html" .}}


<script>
	$( document ).ready(function() {
		$('#spiderdata').dataTable( {
            "scrollX": true
    	} );
	});
</script>
<br /><br />

<div class="container">
  <div class="row">
   
    <table id="spiderdata" class="table">
    	<thead>
                        <tr>
                            <th>URL</th>
                            <th>Status Code</th>
                            <th>Content Length</th>
                        </tr>
        </thead>
    	{{range .container}}

		<tr>
		<td>{{.URL}}</td>
		<td>{{.StatusCode}}</td>
		<td>{{.ContentLength}}</td>
		</tr>
		{{end}}
    </table>

  </div>
</div>

{{template "footer.html" .}}



